<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../parcials/head.ejs')%>
</head>
<body>
    <header>
        <%-include('../parcials/nav.ejs')%>
    </header>
    <main>
      <section>
        <% proda.forEach((pro)=>{ %>
          <article>
        <div class="prducto">
        <img src=" <%= pro.image %> " width="100%" alt="">
        <p>
                <%= pro.Descripcion %>
        </p>
        </div>
      </article>
        <% }) %>
      </section>
    </main>  
    <div>
        <%-include('../parcials/redes.ejs')%>
      </div>
    <%-include('../parcials/footer.ejs')%>
</body>
</html>